@import "../assets/vendor/scss/_bootstrap-extended/variables-dark";
.menu {
  .app-brand {
    height: 64px;
    margin-top: 1rem;
  }
}

.rp-datatable {
  .dropdown-toggle {
    border-radius: 0.375rem;
    border: 1px solid #434968 !important;
  }

  table thead > tr {
    background-color: #e5e7eb !important;

    th {
      border: none !important;
    }
  }
}

.dark-style {
  .rp-datatable {
    table thead > tr {
      background-color: #24283c !important;
    }
  }
}

.menu {
  .app-brand {
    height: 64px;
    margin-top: 1rem;
  }
}

.offcanvas-header {
  padding: 1rem !important;
  margin-bottom: 1rem !important;
}

.dark-style {
  .offcanvas-header {
    background-color: $body-bg !important;
  }
}
